body {

    font-size: 20px;
    font-weight: bold;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;

}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0 20px;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    gap: 50px;
}

.list {

    flex-wrap: wrap;
    gap: 20px;
    max-width: 80%;
}


.item {
    width: 100px;
    height: 100px;
    background-color: darkred;
    transition: all .5s ease-in-out;
}

.item:hover {
    background-color: darkgrey;
    border-radius: 50%;
    transition: all 1s ease-in-out;

}

.item:first-child:hover {

    transition: all 1s cubic-bezier(.29, 1.01, 1, -0.68);

}

.item:nth-child(2):hover {

    transition: all 1s steps(6, end);

}

.item:nth-child(3):hover {

    transition: all 1s linear;

}



