* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-size: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    padding-top: 40px;
    padding-bottom: 40px;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.list {
    align-items: stretch;

}


.list a {
    display: block;
    padding: 20px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.list a:hover,
.list a:focus {
    color: teal;
    border-bottom: 1px solid teal;
    transition: all 0.5s ease-in-out;
}