
.hero {
    padding-top: 0;
    font-family: "Orbitron", serif;
    font-size: 24px;

    letter-spacing: 2px;
    /*background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1647605263967-7e7c7fe14079?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTl8fGdyZWVuJTIwZm9yZXN0fGVufDB8MHwwfHx8MA%3D%3D);*/
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)), url(https://plus.unsplash.com/premium_photo-1669613233557-1676c121fe73?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zm9yZXN0fGVufDB8MHwwfHx8MA%3D%3D);
    /*background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzZ8fGZvcmVzdHxlbnwwfDB8MHx8fDA%3D);*/
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .container {
    flex-direction: column;
    text-align: center;
}

.hero h1 {

    font-size: 120px;
    letter-spacing: 24px;

}




