:root {
    --hero-bg: #24204A;
    --section-bg: #071341;
    --accent-text-bg: #4B4864;
    --decor-bg: #827EAC;
    --text-color: #8E88C1;
    --title-color: #FFF;
    --link-color: rgba(229, 229, 229, 0.6);
    --btn-bg: #3F50E7;
    --border-radius: 8px;
    --button-shadow: 0px 6px 20px 0px rgba(0, 255, 224, 0.20);
    --img-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
    --transition: all 0.3s ease-in-out;
    --card-list-gap: 32px;
    --card-list-item: 5;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    color: var(--text-color);

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: var(--transition);
}


.back-btn {
    padding: 10px 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    font-size: 20px;
    border: 2px solid #10678c;
    border-radius: 16px;
    color: #10678c;
    transition: all 0.3s ease-in-out;
}

.back-btn:hover,
.back-btn:focus {
    background-color: #10678c;
    color: white;
}


.container {
    margin: 0 auto;
    padding-right: 115px;
    padding-left: 115px;
    max-width: 1400px;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: 700;
}

.title,
.section-title {
    font-size: 36px;
}

.title {
    max-width: 261px;
    line-height: normal;
    letter-spacing: 1.8px;
}

.section-title {
    line-height: 42px;
    letter-spacing: normal;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 113px;
    letter-spacing: normal;
    background-color: var(--hero-bg);
    box-shadow: var(--img-shadow);
    z-index: 99;
}

.header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--link-color);
}

.logo {
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.logo:hover,
.logo:focus,
.nav-item .link:hover,
.nav-item .link:focus {
    color: var(--title-color);
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;
}

.nav-item .link {
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: capitalize;
}

/*=============================hero=================*/
.hero {
    padding-top: 180px;
    padding-bottom: 100px;
    background-color: var(--hero-bg);
}

.hero .container {
    padding-right: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    line-height: 130%;
}

.text-accent {
    padding: 10px 16px;
    width: fit-content;
    border-radius: var(--border-radius);
    background-color: var(--accent-text-bg);

}


.button {
    padding: 18px 72px;
    width: fit-content;
    background-color: var(--btn-bg);
    text-transform: uppercase;
    color: var(--title-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    line-height: normal;
    letter-spacing: normal;
    box-shadow: var(--button-shadow);
    transition: var(--transition);
}

.button:hover,
.button:focus {
    transform: scale(1.1);
}

.hero-image {
    position: relative;
    width: 375px;
    height: 411px;
    flex-shrink: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--img-shadow);
    background-color: var(--decor-bg);
    overflow: hidden;
}

.hero-image img {
    position: absolute;
    top: 54%;
    left: 53%;
    transform: translate(-50%, -50%);

}

/*=====================about=====================*/

.about {
    padding-top: 50px;
    padding-bottom: 152px;
    text-align: center;
    background-color: var(--section-bg);
}

.about .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about .section-title {
    margin: 0 auto;
    max-width: 1074px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: var(--card-list-gap);
}

.card-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex-basis: calc((100% - (var(--card-list-item) - 1) * var(--card-list-gap)) / var(--card-list-item));
}

.lorem-list {
    --card-list-gap: 78px;
}

.orange {
    --decor-bg: #FF6853;
}

.coral {
    --decor-bg: #FF537C;
}

.green {
    --decor-bg: #80D2C4;
}

.violet {
    --decor-bg: #3F50E7;
}

.lightgreen {
    --decor-bg: #95CB7C;
}

.lorem-list .card-item {
    padding-left: 74px;
    /*position: relative;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*gap: 3px;*/
    text-align: start;
}

.lorem-list .card-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 56px;
    height: 56px;
    background-image: url("image/lorem-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--decor-bg);
    border-radius: var(--border-radius);

}

.posotion-list .card-item {
    padding: 118px 16px 26px;
    border-radius: var(--border-radius);
    border: 2px solid var(--text-color);

}

.posotion-list .card-item::before {
    content: "";
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 52px;
    height: 52px;
    background-image: url("image/posotion-bg.png");
    background-repeat: no-repeat;
    background-position: center;

}

iframe {
    display: block;
    width: 100%;
    height: 664px;
}

footer {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: var(--section-bg);
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 200%;
    text-align: center;
    color: var(--title-color);
    gap: 32px;
}
























