:root {
    --text-color: #000;
    --accent-color: #FF4B32;
    --link-color: rgba(255, 255, 255, 0.6);
    --dark-bg: #0D0402;;
    --card-set-item: 3;
    --card-set-gap-x: 30px;
    --card-set-gap-y: 30px;

    --transition: all 0.3s ease-in-out;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: var(--transition);

}

ul, ol {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid teal;
    border-radius: 16px;
    color: teal;
    transition: all 0.3s ease-in-out;
}

.back-btn:hover,
.back-btn:focus {
    background-color: teal;
    color: white;
}

body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    line-height: 160%; /* 25.6px */
    color: var(--text-color);
}


.section {
    padding-top: 140px;
    padding-bottom: 140px;
}

.container {
    padding-right: 147px;
    padding-left: 147px;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

.title {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
}


.card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--card-set-gap-y) var(--card-set-gap-x);
}

.card-item {
    flex-basis: calc((100% - (var(--card-set-item) - 1) * var(--card-set-gap-x)) / var(--card-set-item));
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    gap: 20px;

}

/*======================header====================*/

.header {
    padding-top: 38px;
    padding-bottom: 38px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.logo {
    width: 14px;
    height: 44px;
    flex-shrink: 0;
}


.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;

}

.nav-link {
    line-height: 44px;
}

.nav-list img {
    width: 15px;
    height: 44px;
    flex-shrink: 0;
}


/*======================hero====================*/
.hero {
    padding-top: 74px;
    padding-bottom: 50px;
    height: 100vh;
    overflow: hidden;

}

.hero-nav {
    height: 100px;
    position: relative;
    background-color: var(--grey-bg);


}

.hero-list {
    position: absolute;
    max-width: 644px;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    top: 50%;
    left: 60%;
    opacity: 0;
    transform: translate(-50%, -60%);
    animation: slideIn 700ms ease forwards;
    animation-delay: 0.5s;
}

@keyframes slideIn {
    to {
        left: 50%;
        opacity: 1;
    }
}

.hero-item .link {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.hero-item-img {
    object-fit: contain;
    max-height: 54px;
}

.hero-content {
    position: relative;
    height: calc(100vh - 174px);
}

.hero .image-wrapper {
    width: 761px;
    height: 432px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -20%) scale(1.3);
    opacity: 0;
    animation: slideBottom 700ms ease forwards;
    animation-delay: 1s;
}

@keyframes slideBottom {
    to {
        transform: translate(-50%, -10%) scale(1);
        opacity: 1;
    }
}

.content {
    max-width: 960px;
    width: 100%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 40%) scale(1.3);
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    animation: slideTop 1.2s ease forwards;
    animation-delay: 1s;
}

@keyframes slideTop {
    to {
        transform: translate(-50%, 0) scale(1);
        opacity: 1;
    }
}









