:root {
    --text-color: rgba(0, 0, 0, 0.7);
    --title-color: #000;
    --white-text: #fff;
    --accent-color: #FF4B32;
    --link-color: rgba(255, 255, 255, 0.6);
    --dark-bg: #000000;
    --card-set-item: 3;
    --card-set-gap-x: 30px;
    --card-set-gap-y: 30px;
    --border-radius: 20px;


    --transition: all 0.3s ease-in-out;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: var(--transition);

}

ul, ol {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid teal;
    border-radius: 16px;
    color: teal;
    transition: all 0.3s ease-in-out;
}

.back-btn:hover,
.back-btn:focus {
    background-color: teal;
    color: white;
}

body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    line-height: 160%; /* 25.6px */
    color: var(--text-color);
}


.section {
    padding-top: 140px;
    padding-bottom: 140px;
}

.section-title {
    font-size: 43px;
    line-height: 130%; /* 55.9px */
    letter-spacing: 6.45px;
}

.container {
    padding-right: 147px;
    padding-left: 147px;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

.title {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: var(--title-color);
}

.btn {
    margin-top: 22px;
    padding: 16px 35px;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    color: var(--white-text);
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--transition);
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
}


.card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--card-set-gap-y) var(--card-set-gap-x);
}

.card-item {
    flex-basis: calc((100% - (var(--card-set-item) - 1) * var(--card-set-gap-x)) / var(--card-set-item));
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    gap: 20px;

}

.title-wrapper {
    margin-bottom: 60px;
    max-width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-wrapper .description {
    font-size: 18px;
    line-height: 160%;

}


/*======================header====================*/

.header {
    padding-top: 25px;
    padding-bottom: 25px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--white-text);
    z-index: 99;

}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 58px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--accent-color);
    font-family: "Josefin Sans", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
}

.logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.logo span {
    padding-top: 6px;
}


.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    color: var(--link-color);

}


/*======================hero====================*/
.hero {
    padding-top: 100px;
    padding-bottom: 109px;
    height: 72vh;
    overflow: hidden;
    color: var(--white-text);
    background-color: var(--dark-bg);
    background-image: url("./image/hero-img_cropped.jpeg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 54%;

}

.hero .container {
    height: 100%;
}


.hero-content {
    max-width: 524px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 26px;
    font-size: 20px;
    line-height: 160%; /* 32px */
}

.hero-title {
    font-size: 58px;
    line-height: 120%; /* 69.6px */
    color: inherit;

}

/*=================offer=======================*/

.offer .title-wrapper {
    align-items: flex-start;
}

.offer .title-wrapper .description {
    max-width: 85%;
}


.offer-list {
    --card-set-gap-x: 50px;
    justify-content: space-between;
}

.offer-item {
    align-items: flex-start;
    text-align: start;
    gap: 35px;

}

.offer-item img {
    max-width: 300px;
    height: 265px;
    object-fit: contain;
}

.offer-item .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.offer-item .price {
    color: var(--title-color);
    font-family: "Josefin Sans", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%; /* 36px */
}

.offer-item .title {
    font-size: 32px;
    line-height: 130%; /* 41.6px */
}

/*====================gallery====================*/
.gallery .title-wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gallery-list {
    margin-bottom: 70px;
}

.load-btn {
    margin: 0 auto;
    padding: 10px;
    display: block;
    border: none;
    cursor: pointer;
    color: var(--accent-color);
    text-align: center;
    font-family: inherit;
    font-size: 18px;
    line-height: 150%; /* 27px */
    background-color: transparent;
    border-radius: 5px;
    transition: var(--transition);

}

/*====================contact==================*/


/*.icon use {*/
/*    fill: currentColor;*/
/*    stroke: currentColor;*/
/*}*/

.icon {
    width: 50px;
    height: 50px;
    color: red;
}







