:root {
    --viewport-width: 1728;
    --viewport-height: 1117;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav a {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    padding: 10px 20px;
    font-size: 20px;
    border: 2px solid teal;
    border-radius: 16px;
    text-decoration: none;
    color: teal;
}

nav a:hover,
nav a:focus {
    background-color: teal;
    color: white;
}

header,
footer {
    height: calc(244 / var(--viewport-height) * 100vh);
    /*height: 22vh;*/
    background: #D9D9D9;
}

section {
    display: flex;
    height: calc(629 / var(--viewport-height) * 100vh);
    /*height: calc(100vh - 22vh * 2);*/
    /*height: 56vh;*/
}

aside {
    width: calc(464 / var(--viewport-width) * 100vw);
    /*width: 27vw;*/
    background: #C0BDBD;
}

.wrapper {
    width: calc(800 / var(--viewport-width) * 100vw);
    /*width: calc(100vw - 27vw * 2);*/
    background: #A4A4A4;

}




